<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="text-copy">
				© 2022 Российско-Арабский портал деловых отношений
			</div>
			<div class="socials">
				<a href="#" class="link">
					{{img.getSvg({src: "social-yt"})}}
				</a>
				<a href="#" class="link">
					{{img.getSvg({src: "social-tg"})}}
				</a>
			</div>
			<a href="#" class="download-mobile">
				<span class="icon">
					{{img.getSvg({src: "smartphone"})}}
				</span>
				<span class="text">
					Скачать приложение
				</span>
			</a>
			<a href="#" class="creators">
				Создание сайта - Individ
			</a>
		</div>
	</div>
</footer>
