    <div class="form">
        <div class="form-block">
            <button class="close-form"></button>
            <form action="">
                <h2 class="form-title">Заказать поиск партнера</h2>
                <p class="form-info">
                    Опишите вашу задачу. Мы постараемся подобрать и направить профили подходящих <br>исполнителей в течение 3 дней.
                </p>
                <p class="contact-info">По вопросам подбора <span class="green-text">+7 (800) 555-2222</span> или <span class="green-text">partners@rads.ru</span></p>
                <div class="input-container">
                    <div class="input-wraper input-name">
                        <span class="input-hint">Контактное лицо*</span>
                        <input class="input" type="text" name="" id="">
                    </div>
                    <div class="input-wraper input-email">
                        <span class="input-hint">Email для связи*</span>
                        <input class="input" type="email" name="" id="">
                    </div>
                    <div class="input-wraper input-tel">
                        <span class="input-hint">Контактный телефон</span>
                        <input class="input" type="tel" name="" id="">
                    </div>
                    <div class="input-wraper input-comment">
                        <span class="input-hint">Комментарий*</span>
                        <textarea class="input" type="text" name="" id="" placeholder="Опишите задачу"></textarea>
                    </div>
                </div>
                <div class="upload-container">
                    <h3>Прикрепите документы, если необходимо</h3>
                    <button class="select-file-button">Выбрать документы</button>
                    <p class="upload-condotion-text">Вес файла не должен превышать 10 Мб.<br>Разрешенные форматы: pdf, jpeg, jpg, doc, docx, xls, xlsx.</p>
                    <div class="uploaded-file-container">
                        <div class="file-type-icon"></div>
                        <div class="file-name">Company presentation</div>
                        <span class="file-weight">596.1 Kб</span>
                        <button class="delete-file-button"></button>
                    </div>
                    <div class="uploaded-document-container">
                        <div class="file-type-icon"></div>
                        <div class="file-name">Company presentation</div>
                        <span class="file-weight">596.1 Kб</span>
                        <div class="delete-file-button">
                            <button class="delete-file-button"></button>
                            <span>Удалить</span>
                        </div>
                    </div>
                </div>
                <button class="submit-button" type="submit"></button>
            </form>
        </div>
    </div>