<div class="form-container">
	<div class="form-block active" id="form-block">
		<button class="close-form js-modal-close" data-target="form-block">
			{{img.getSvg({src: "cross"})}}
		</button>
			<h2 class="form-title">Заказать поиск партнера</h2>
			<p class="form-info">
				Опишите вашу задачу. Мы постараемся подобрать и направить профили подходящих
				<br>исполнителей в течение 3 дней.
			</p>
			<p class="contact-info">По вопросам подбора
				<span class="green-text">+7 (800) 555-2222</span>
				или
				<span class="green-text">partners@rads.ru</span>
			</p>
		<form class="form js-ajax-form js-form-validate" {{server.ajax('contact-form.json')}}>
			<div class="input-container">
				<div class="input-wraper input-name">
					<span class="input-hint">Контактное лицо*</span>
					<input class="input" type="text" name="name" data-required data-name>
				</div>
				<div class="input-wraper input-email">
					<span class="input-hint">Email для связи*</span>
					<input class="input" type="email" name="email" data-required data-email data-min-length="10" data-max-length="300">
				</div>
				<div class="input-wraper input-tel">
					<span class="input-hint">Контактный телефон</span>
					<div class="input-number input">
						<input class="js-input-tel" type="tel" name="tel">
					</div>
				</div>
				<div class="input-wraper input-comment">
					<span class="input-hint">Комментарий*</span>
					<textarea class="input" type="text" name="comment" id="" placeholder="Опишите задачу" data-required data-name></textarea>
				</div>
			</div>
			<div class="upload-container">
				<h3 class="upload-title">Прикрепите документы, если необходимо</h3>
				<div class="files-upload js-files-upload">
					<div class="upload-button-container">
						<input type="file" class="select-files" name="files[]" data-required data-extensions="pdf|jpeg|jpg|doc|docx|xls|xlsx">
						<button class="select-file-button">
							<div class="add-icon">
								{{img.getSvg({src: "add"})}}
							</div>
							Выбрать документы
						</button>
						<p class="upload-condition-text">Вес файла не должен превышать 10 Мб.<br>Разрешенные форматы: pdf, jpeg, jpg, doc, docx, xls, xlsx.</p>
					</div>
					<div class="uploaded-files-list js-list"></div>
				</div>
			</div>
			<div class="submit-button-container">
				<button class="submit-button" type="submit">Отправить</button>
				<span>* — поля, обязательны для заполнения</span>
			</div>
		</form>
	</div>
</div>
