html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #fff;
    line-height: 1.5;

    &.compensate-for-scrollbar {
        overflow: hidden;
    }

    @media (max-width: $max_md) {
        font-size: 18px;
    }
}

.section-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: $max_md) {
        font-size: 32px;
    }

    @media (max-width: $max_s) {
        font-size: 24px;
    }
}

.block-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: $max_md) {
        font-size: 24px;
    }
}

.accord {
    .accord-trigger {
        cursor: pointer;
    }

    &.disabled,
    &.collapsing {
        pointer-events: none;
    }

    &.collapse:not(.active) {
        .accord-body {
            display: none;
        }
    }

    &.collapsing {
        .accord-body {
            overflow: hidden;
            pointer-events: none;
            height: 0;
            transition: height 0.6s ease;
        }
    }
}

.banner-simple {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 40px 30px;
    width: 100%;
    overflow: hidden;

    .logo {
        position: relative;
        display: flex;
        margin-right: 20px;
        z-index: 2;
    }

    .img {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: flex;
        width: fit-content;
        height: 100%;
        pointer-events: none;
        z-index: 1;
        img {
            height: 100%;
        }
    }

    .btn.btn-white {
        font-size: 18px;
        position: relative;
        padding: 15px 20px;
        z-index: 0;
        &:hover {
            background-color: #fff;
            opacity: 0.6;
        }
    }

    &.banner-blue {
        background-color: #005bfe;
        .btn.btn-white {
            color: #005bfe;
            &:hover {
                color: #005bfe;
            }
        }
    }

    &.banner-purple {
        background: linear-gradient(86.95deg, #c211a7 0%, #4f1176 100%);
        .btn.btn-white {
            color: #931293;
            &:hover {
                color: #931293;
            }
        }
    }

    @media (max-width: $max_lg) and (min-width: $min_md) {
        .logo img {
            max-width: 110px;
        }

        .btn.btn-white {
            font-size: 14px;
        }
    }

    @media (max-width: $max_md) {
        padding: 20px 15px;

        .img {
            z-index: 0;
        }
    }

    @media (max-width: $max_s) {
        .btn.btn-white {
            font-size: 12px;
        }
    }
}

.cta-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > *:not(:last-child) {
        margin-bottom: 40px;
    }

    .title {
        @extend .block-title;
    }

    .links {
        > *:not(:last-child) {
            margin-bottom: 20px;
        }
        .link {
            color: #e71a95;
            font-size: 30px;
            font-weight: 600;
            transition: opacity 0.3s ease;
        }
        .link:hover {
            opacity: 0.6;
        }
    }

    .socials {
        display: flex;
        .link {
            display: flex;
            flex-shrink: 0;
            padding: 0 10px;
        }
        img {
            width: 40px;
            height: 40px;
        }
    }

    .btn {
        max-width: 480px;
    }

    @media (max-width: $max_md) {
        & > *:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media (max-width: $max_s) {
        & > *:not(:last-child) {
            margin-bottom: 20px;
        }

        .title {
            font-size: 16px;
        }

        .btn {
            max-width: 100%;
        }
    }
}

.icon-close {
    display: flex;
    width: fit-content;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
    span {
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 20px;
        height: 20px;
    }
    span::before,
    span::after {
        content: '';
        position: absolute;
        width: 150%;
        height: 4px;
        background-color: #000;
        border-radius: 10px;
        transform: rotate(45deg);
        transition: background-color 0.3s ease;
    }
    span::before {
        transform: rotate(-45deg);
    }
}

.section-mob-video {
    padding: 0;
    display: none;
    position: relative;
    &::before {
        content: '';
        display: block;
        padding-top: 56%;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (max-width: $max_sm) {
        display: block;
    }
}

.cookie {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    max-width: fit-content;
    display: none;
    z-index: 1000;

    &.active {
        display: block;
    }

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .description {
        color: #fff;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .btn {
        font-size: 12px;
        padding: 10px 20px;
    }

    @media (max-width: $max_md) {
        right: 0;
        bottom: 0;
        max-width: 100%;
        padding: 20px;

        .container {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    @media (max-width: $max_s) {
        padding: 7px 20px;
        border-radius: 10px 10px 0 0;

        .description {
            font-size: 12px;
            margin-right: 10px;
            margin-bottom: 0;
        }

        .btn {
            font-size: 12px;
            padding: 10px 20px;
        }
    }
}
