.iti__flag {
    width: 30px;
    height: 20px;

   &.iti__dz{

        background-image: url('../../img/svg/dz.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__bh{
    
        background-image: url('../../img/svg/bh.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__dj{
    
        background-image: url('../../img/svg/dj.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__eg{
    
        background-image: url('../../img/svg/eg.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__jo{
    
        background-image: url('../../img/svg/jo.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__iq{
    
        background-image: url('../../img/svg/iq.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__ye{
    
        background-image: url('../../img/svg/ye.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__km{
    
        background-image: url('../../img/svg/km.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__kw{
    
        background-image: url('../../img/svg/kw.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__ly{
    
        background-image: url('../../img/svg/ly.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__mr{
    
        background-image: url('../../img/svg/mr.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__ae{
    
        background-image: url('../../img/svg/ae.svg');
        background-repeat: no-repeat;
    }
    
   &.iti__om{
    
        background-image: url('../../img/svg/om.svg');
        background-repeat: no-repeat;
    }
   &.iti__ps{
    
        background-image: url('../../img/svg/ps.svg');
        background-repeat: no-repeat;
    }
   &.iti__ru{
    
        background-image: url('../../img/svg/ru.svg');
        background-repeat: no-repeat;
    }
   &.iti__sa{
    
        background-image: url('../../img/svg/sa.svg');
        background-repeat: no-repeat;
    }
   &.iti__sy{
    
        background-image: url('../../img/svg/sy.svg');
        background-repeat: no-repeat;
    }
   &.iti__so{
    
        background-image: url('../../img/svg/so.svg');
        background-repeat: no-repeat;
    }
   &.iti__sd{
    
        background-image: url('../../img/svg/sd.svg');
        background-repeat: no-repeat;
    }
   &.iti__tn{
    
        background-image: url('../../img/svg/tn.svg');
        background-repeat: no-repeat;
    }
   &.iti__ma{
    
        background-image: url('../../img/svg/ma.svg');
        background-repeat: no-repeat;
    }
}
