/*==============================================================
*                        Golos
/*============================================================== */
@font-face {
    font-family: "Golos";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Golos/GolosText-Regular.ttf"),
        url("../fonts/Golos/GolosText-Regular.woff") format("woff"),
        url("../fonts/Golos/GolosText-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Golos";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Golos/GolosText-Medium.ttf"),
        url("../fonts/Golos/GolosText-Medium.woff") format("woff"),
        url("../fonts/Golos/GolosText-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Golos";
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Golos/GolosText-DemiBold.ttf"),
        url("../fonts/Golos/GolosText-DemiBold.woff") format("woff"),
        url("../fonts/Golos/GolosText-DemiBold.woff2") format("woff2");
}