button {
    display: flex;
    background-color: transparent;
}

input {
    background-color: transparent;
}

.form {
}

.form.loading {
    pointer-events: none;
    .loading-btn {
        pointer-events: none;
        .text {
            opacity: 0;
        }
        .preloader {
            display: block;
        }
    }
}

.input {
    display: block;
    color: #333;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #dfe4ea;
    border-radius: 0px 30px 30px 25px;
    width: 100%;
    padding: 18px 20px;
    &::placeholder {
        color: #7e8d9c;
    }
}

.input-wrap-search {
    position: relative;
    display: flex;
    align-items: center;

    .input {
        padding-right: 54px;
    }

    .icon {
        position: absolute;
        right: 20px;
        display: flex;
        svg,
        img {
            width: 24px;
            height: 24px;
        }
    }
}

.input-wrap-search-reverse {
    position: relative;
    display: flex;
    align-items: center;

    .input {
        padding-left: 54px;
    }

    .icon {
        position: absolute;
        left: 20px;
        display: flex;
        svg,
        img {
            width: 24px;
            height: 24px;
        }
    }
}

.form-catalog-search {
    display: flex;
    align-items: center;
    padding: 30px;
    background-image: linear-gradient(90.8deg, #05978a 12.23%, #00d67c 105.24%);
    border-radius: 0px 30px 30px 30px;

    .input-wrap-search-reverse {
        width: 100%;
        .icon path {
            fill: #fff;
        }
    }

    .input {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        border-radius: 0px 50px 50px 25px;
        border-color: rgba(#fff, 0.4);
        height: 52px;
        &::placeholder {
            color: #fff;
            font-size: 14px;
        }
    }

    .btn {
        flex-shrink: 0;
        margin-left: 20px;
        height: 52px;
    }
}
