body {
}

.site-wrap {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}

.section {
    padding: 80px 0;

    @media (max-width: $max_md) {
        padding: 50px 0;
    }

    @media (max-width: $max_s) {
        padding: 40px 0;
    }
}

.container {
    width: 100%;
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}
