.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 215px;

    .sidebar-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.5);
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        z-index: 0;
    }

    .sidebar-content {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 25px 15px 25px 30px;
        flex-grow: 1;
        overflow: auto;
        z-index: 1;
    }

    .sidebar-head {
        display: none;
        align-items: center;
        margin-bottom: 18px;
        .burger {
            display: flex;
            margin-right: 15px;
            svg {
                width: 24px;
                height: 24px;
            }
        }
        .logo {
            display: flex;
            img {
                width: 231px;
                height: 40px;
            }
        }
    }

    .sidebar-block {
        position: relative;
        &:not(:first-child) {
            padding-top: 15px;
            margin-top: 16px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 155px;
                height: 1px;
                background-color: #dfe4ea;
            }
        }
    }

    .sidebar-foot {
        margin-top: 160px;
    }

    .sidebar-title {
        color: #8d8f9d;
        font-size: 14px;
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
    }

    .menu {
        .menu-item {
        }
        .menu-link {
            position: relative;
            display: flex;
            align-items: center;
            padding: 8px 0;
            color: #333;
            font-size: 14px;
            transition-property: color;
            transition-duration: 0.3s;
            transition-timing-function: ease;
        }
        .menu-link::before {
            position: absolute;
            top: 0;
            left: -10px;
            width: calc(100% + 20px);
            height: 100%;
            border: 1px solid #01ca7e;
            border-radius: 0px 38px 38px 16px;
        }
        .icon {
            flex-shrink: 0;
            display: flex;
            margin-right: 7px;
            img,
            svg {
                width: 24px;
                height: 24px;
            }
        }
        .menu-link:hover {
            color: #01ca7e;
        }
        .menu-item.active {
            .menu-link {
                color: #01ca7e;
            }
            .menu-link::before {
                content: "";
            }
        }
    }

    .menu-additional {
        .menu-item {
            display: flex;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        .menu-link {
            color: #8d8f9d;
            font-size: 14px;
            transition-property: color;
            transition-duration: 0.3s;
            transition-timing-function: ease;
        }
        .menu-link:hover {
            color: #01ca7e;
        }
        .menu-item.active {
            .menu-link {
                color: #01ca7e;
            }
        }
    }

    @media (max-width: $max_lg) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        pointer-events: none;
        z-index: 1060;

        .sidebar-overlay {
            display: block;
        }

        .sidebar-content {
            width: 360px;
            max-width: 100%;
            padding: 15px 45px 45px;
            background-color: #fff;
            transform: translateX(-361px);
            transition: transform 0.3s ease;
        }

        .sidebar-head {
            display: flex;
        }

        .sidebar-foot {
            margin-top: auto;
            padding-top: 30px;
        }

        &.active {
            pointer-events: auto;

            .sidebar-overlay {
                opacity: 1;
            }

            .sidebar-content {
                transform: translateX(0);
            }
        }
    }

    @media (max-width: $max_sm) {
        .sidebar-content {
            padding: 15px 12px 20px;
        }

        .sidebar-head {
            .logo {
                img {
                    width: 170px;
                    height: 30px;
                }
            }
        }
    }
}
