.footer {
    .row {
        display: flex;
        align-items: center;
        border-top: 1px solid rgba(#8d8f9d, 0.3);
        padding: 18px 0;
        > *:not(:last-child) {
            margin-right: 30px;
        }
    }

    .text-copy {
        color: #8d8f9d;
    }

    .socials {
        display: flex;
        align-items: center;
        margin-left: auto;
        .link {
            display: flex;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            img,
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .link:not(:last-child) {
            margin-right: 5px;
        }
    }

    .download-mobile {
        display: flex;
        align-items: center;
        margin-right: 48px !important;
        color: #01ca7e;
        .icon {
            display: flex;
            flex-shrink: 0;
            margin-right: 5px;
            img,
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    .creators {
        color: #8d8f9d;
    }
}
