$mobile-breakpoint: 1439.9px;

.header {
    position: relative;
    padding: 40px 0;
    z-index: 1050;

    .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .logo-mobile {
        display: none;
        margin: 0 20px;
    }

    .burger {
        display: none;
        cursor: pointer;

        .icon {
            display: flex;
        }

        .icon-collapse {
            display: none;
        }

        img,
        svg {
            width: 30px;
            height: 30px;
        }
    }

    @media (max-width: $mobile-breakpoint) {
        .logo {
            display: none;
        }

        .logo-mobile {
            display: flex;
        }

        .burger {
            display: flex;
        }
    }

    @media (max-width: $max_md) {
        padding: 20px 0;
    }
}

.header .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-cta {
        font-size: 16px;
        padding: 10px;
        margin: 0 10px;
    }

    .search-trigger {
        path {
            transition: fill 0.3s ease;
        }
    }

    @media (max-width: $mobile-breakpoint) {
        justify-content: space-between;

        .btn-cta {
            display: none;
        }
    }
}

.header .menu {
    .menu-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -10px;
    }

    .menu-item {
        padding: 9px 10px;
    }

    .menu-item-has-children {
        @extend .accord;
        > a {
            position: relative;
            padding-right: 15px;
        }
        > a::after {
            content: '';
            position: absolute;
            top: 2px;
            right: 0;
            width: 8px;
            height: 8px;
            border-width: 0 0 1px 1px;
            border-style: solid;
            transform: rotate(-45deg);
            transition-property: border-color;
            transition-duration: 0.3s;
            transition-timing-function: ease;
        }
    }

    .menu-item-has-children[data-collapse='open'] {
        > a {
            color: #e71a95;
        }
        > a::after {
            top: 7px;
            border-color: #e71a95;
            transform: rotate(-225deg);
        }
    }

    .sub-menu-wrap {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        background-color: #fff;
    }

    .sub-menu {
        @extend .container;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        .menu-item a {
            padding: 5px 10px;
            font-size: 12px;
        }
    }

    .menu-item a {
        font-size: 16px;
        text-transform: uppercase;
        transition: color 0.3s ease;
        &:hover {
            color: #e71a95;
        }
    }

    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}

.header .header-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 100%);
    padding: 0 20px 20px;
    background-color: #fff;
    overflow: auto;
    transform: translateX(-101vw);
    pointer-events: none;
    transition: transform 0.3s ease;
    z-index: 1;

    .menu-mobile {
        padding-top: 18px;
        padding-bottom: 38px;
        margin-bottom: 40px;
        border-bottom: 1px solid #eee;
    }

    .menu-item {
        &:not(:last-child) {
            margin-bottom: 38px;
        }

        a {
            font-size: 18px;
            text-transform: uppercase;
            transition: color 0.3s ease;
        }

        a:hover {
            color: #e71a95;
        }
    }

    .menu-item-has-children {
        @extend .accord;
        > a {
            position: relative;
            padding-right: 15px;
            display: block;
            width: 100%;
        }
        > a::after {
            content: '';
            position: absolute;
            top: 6px;
            right: 0;
            width: 8px;
            height: 8px;
            border-width: 0 0 1px 1px;
            border-style: solid;
            transform: rotate(-135deg);
            transition-property: border-color;
            transition-duration: 0.3s;
            transition-timing-function: ease;
        }
        .menu-item {
            margin-bottom: 0 !important;
            padding: 19px 0;
            border-bottom: 1px solid #eee;
        }
    }

    .menu-item-has-children[data-collapse='open'] {
        > a {
            color: #e71a95;
        }
        > a::after {
            top: 7px;
            border-color: #e71a95;
            transform: rotate(-45deg);
        }
    }

    .sub-menu {
    }

    .cta-manager {
        > *:not(:last-child) {
            margin-bottom: 20px;
        }

        .title {
            font-size: 12px;
        }

        .btn {
            font-size: 16px;
        }
    }
}

.header .form-search {
    margin-top: 0;
    height: 0;
    overflow: hidden;
    transition-property: height, margin;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.header.search-active {
    .header-row .search-trigger {
        path {
            fill: #e71a95;
        }
    }

    .form-search {
        margin-top: 20px;
        height: 62px;
    }
}

.header.menu-active {
    .header-mobile {
        pointer-events: auto;
        transform: translateX(0);
    }

    .burger {
        .icon-burger {
            display: none;
        }

        .icon-collapse {
            display: flex;
        }
    }
}
