.header {
    background: #f7f7fa;
    border-bottom: 1px solid #dfe4ea;
    padding: 15px 0;

    .container {
        width: 100%;
        max-width: 1920px;
        padding: 0 30px;
    }

    .row {
        flex-wrap: nowrap;
        align-items: center;
        > *:not(:last-child) {
            margin-right: 50px;
        }
    }

    .menu {
        margin-right: 40px !important;
        margin-left: auto;
    }
}

.header .form-search {
    width: 100%;
    max-width: 300px;
}

.header .menu {
    .menu-list {
        display: flex;
        align-items: center;
    }

    .menu-item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    .menu-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        .icon {
            position: relative;
            display: flex;
            flex-shrink: 0;
            margin-right: 6px;
            img,
            svg {
                width: 24px;
                height: 24px;
            }
        }
        .icon::before {
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: 8px;
            background-color: #dc3545;
            border-radius: 50%;
        }
    }

    .menu-item.notif {
        .menu-link {
            .icon::before {
                content: '';
            }
        }
    }
}

.header .profile {
    position: relative;

    .profile-head {
        display: flex;
        align-items: center;
    }

    .profile-avatar {
        display: flex;
        flex-shrink: 0;
        margin-right: 10px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .profile-info {
        .name {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .name .icon {
            display: flex;
            flex-shrink: 0;
            margin-left: 3px;
            img,
            svg {
                width: 16px;
                height: 16px;
            }
        }
        .type {
            color: #8d8f9d;
            font-size: 11px;
        }
    }
}
