.section-catalog {
    .link-back {
    }

    .page-headline {
        margin-bottom: 40px;
        .description {
            margin-top: 20px;
            opacity: 0.8;
        }
    }

    .form-catalog-search {
        margin-bottom: 40px;
    }

    .form-catalog-filters {
        margin-bottom: 30px;
    }

    .row-catalog {
        flex-wrap: nowrap;
    }

    .col-side {
        flex-shrink: 0;
        max-width: 255px;
        margin-left: 30px;
        > *:not(:last-child) {
            margin-bottom: 30px;
        }
        .headline {
            .title {
                @extend .h4;
                margin-bottom: 5px;
            }
            .description {
                a {
                    color: #01ca7e;
                }
            }
        }
    }

    .cards-companies-preview,
    .cards-ads-preview {
        > *:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
