.section-about {
    .section-title {
        margin-bottom: 80px;
    }

    .row {
        justify-content: center;
        margin: 0 -20px -40px;
        .col {
            padding: 0 20px 40px;
            max-width: calc(100% / 3);
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
            display: flex;
            margin-bottom: 20px;
            img,
            svg {
                width: 120px;
                height: 120px;
            }
        }
        .text {
            text-align: center;
        }
    }

    .btn {
        margin: 80px auto 0;
    }

    @media (max-width: $max_md) {
        .section-title {
            margin-bottom: 50px;
        }

        .btn {
            margin-top: 50px;
        }
    }

    @media (max-width: $max_sm) {
        .row {
            .col {
                max-width: 50%;
            }
        }
    }

    @media (max-width: $max_s) {
        .section-title {
            margin-bottom: 40px;
        }

        .row {
            margin: 0;
            .col {
                padding: 0;
                max-width: 100%;
            }
            .col:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        .card {
            flex-direction: row;
            .icon {
                margin-right: 20px;
                margin-bottom: 0;
                img,
                svg {
                    width: 50px;
                    height: 50px;
                }
            }
            .text {
                text-align: left;
            }
        }

        .btn {
            margin-top: 40px;
        }
    }
}
