.section-offer {
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        radial-gradient(50% 50% at 50% 50%, #40c0dc 0%, #006d85 100%), #ffffff;
    border-radius: 30px 30px 0px 0px;
    padding: 110px 0;
    overflow: hidden;

    .row {
        position: relative;
        display: flex;
    }

    .col-info {
        position: relative;
        z-index: 1;
        max-width: 45%;
        .text-top {
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 60px;
        }
        .title {
            font-size: 96px;
            font-weight: 600;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 60px;
        }
        .text-bottom {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .img-link {
            display: none;
        }
    }

    .col-img {
        position: relative;
        max-width: 55%;
        img {
            max-width: 100%;
        }
        .img-backdrop {
            img:nth-child(2) {
                display: none;
            }
        }
        .img-link {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 220px;
        }
    }

    @media (max-width: $max_lg) {
        .col-info {
            max-width: 60%;
            .text-top {
                font-size: 28px;
                max-width: 400px;
            }
            .title {
                font-size: 64px;
            }
        }

        .col-img {
            max-width: 40%;
        }
    }

    @media (max-width: $max_md) {
        border-radius: 20px 20px 0px 0px;
        padding: 70px 0;

        .row {
            align-items: center;
        }

        .col-info {
            max-width: 70%;
            .img-link {
                display: flex;
                margin-bottom: 55px;
                img {
                    max-width: 130px;
                }
            }
        }

        .col-img {
            position: absolute;
            right: -105px;
            max-width: 70%;
            min-width: 402px;
            .img-backdrop {
                img:nth-child(1) {
                    display: none;
                }
                img:nth-child(2) {
                    display: block;
                }
            }
            .img-link {
                display: none;
            }
        }
    }

    @media (max-width: $max_s) {
        display: flex;
        flex-direction: column;
        padding: 40px 0;

        .container,
        .row {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .row {
            flex-grow: 1;
        }

        .col-info {
            max-width: 100%;
            min-height: 570px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            .text-top {
                font-size: 20px;
                margin-bottom: 50px;
                max-width: 290px;
            }
            .title {
                font-size: 42px;
                margin-bottom: 30px;
                max-width: 260px;
            }
            .text-bottom {
                font-size: 12px;
                text-align: center;
                margin-top: auto;
            }
            .btn {
                max-width: 100%;
            }
        }

        .col-img {
            top: 10%;
            right: -125px;
            img {
                max-height: 402px;
            }
        }
    }

    @media (max-width: 400px) {
        .col-info {
            .btn {
                font-size: 12px;
            }
        }
    }

    @media (max-width: 350px) {
        .col-img {
            right: -155px;
        }
    }
}
