.section-catalog {
    .link-back {
    }

    .headline {
        margin-bottom: 40px;
        .description {
            margin-top: 20px;
            opacity: 0.8;
        }
    }

    .form-catalog-search {
        margin-bottom: 40px;
    }

    .form-catalog-filters {
        margin-bottom: 30px;
    }
}
