<section class="section section-catalog">
	<div class="container">
		<a href="#" class="link-back">
			<span class="icon">
				{{img.getSvg({src: "arrow-left"})}}
			</span>
			<span class="text">
				На главную
			</span>
		</a>
		<div class="headline">
			<h1 class="section-title">
				Каталог компаний и услуг
			</h1>
			<div class="description">
				Платформа объединяет компании и специалистов всех направлений —  в том числе экспортные центры, гарантийные агентства, инвестиционные фонды, частные агенства.
			</div>
		</div>
		<form action="#" class="form form-catalog-search">
			<div class="input-wrap-search-reverse">
				<button type="submit" class="icon">
					{{img.getSvg({src: "search"})}}
				</button>
				<input type="text" class="input" placeholder="Поиск по деятельности, услугам или продуктам">
			</div>
			<button type="submit" class="btn btn-lg btn-white">
				Найти
			</button>

		</form>
		<form action="#" class="form form catalog-filters"></form>
	</div>
</section>
