<section class="section section-ads">
	<div class="container">
		<div class="cards-ads">
			<div class="col">
				<div class="card">
					<div class="card-img">
						<span class="badge badge-sm badge-grey">
							ADS
						</span>
						<span class="img">
							{{img.get({src:"card-ad-1.png"})}}
						</span>
					</div>
					<div class="card-info">
						<h4 class="title">
							Mainfreight
						</h4>
						<div class="description">
							Обеспечит качественную бесперебойную логистику на всём пространстве арабского мира
						</div>
						<ul class="list-services">
							<li class="list-item">
								<a href="#" class="link">
									Услуги и цены
								</a>
							</li>
							<li class="list-item">
								<a href="#" class="link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-img">
						<span class="badge badge-sm badge-grey">
							ADS
						</span>
						<span class="img">
							{{img.get({src:"card-ad-2.png"})}}
						</span>
					</div>
					<div class="card-info">
						<h4 class="title">
							ООО «АЛТИОС»
						</h4>
						<div class="description">
							Оценка зарубежных рынков, отчет по оценке необходимой сферы
						</div>
						<ul class="list-services">
							<li class="list-item">
								<a href="#" class="link">
									Кейсы
								</a>
							</li>
							<li class="list-item">
								<a href="#" class="link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
