<section class="section section-catalog">
	<div class="container">
		<a href="#" class="link-back">
			<span class="icon">
				{{img.getSvg({src: "arrow-left"})}}
			</span>
			<span class="text">
				На главную
			</span>
		</a>
		<div class="page-headline">
			<h1 class="section-title">
				Каталог компаний и услуг
			</h1>
			<div class="description">
				Платформа объединяет компании и специалистов всех направлений —  в том числе экспортные центры, гарантийные агентства, инвестиционные фонды, частные агенства.
			</div>
		</div>
		<form action="#" class="form form-catalog-search">
			<div class="input-wrap-search-reverse">
				<button type="submit" class="icon">
					{{img.getSvg({src: "search"})}}
				</button>
				<input type="text" class="input" placeholder="Поиск по деятельности, услугам или продуктам">
			</div>
			<button type="submit" class="btn btn-lg btn-white">
				Найти
			</button>

		</form>
		<form action="#" class="form form catalog-filters"></form>

		<div class="row row-catalog">
			<div class="col col-main">
				<div class="cards-companies">
					<div class="card">
						<div class="card-body">
							<div class="preview"></div>
							<div class="info"></div>
							<div class="settings">
								<div class="dropdown js-dropdown">
									<div class="js-dropdown-trigger">
										2222
									</div>
								</div>
							</div>
							<div class="settings">
								<div class="dropdown js-dropdown">
									<div class="js-dropdown-trigger">
										455
									</div>
								</div>
							</div>

						</div>
						<div class="card-foot"></div>
					</div>
				</div>
			</div>
			<div class="col col-side">
				<div class="headline">
					<h3 class="title">
						Новые участники
					</h3>
					<div class="description">
						из интересов
						<a href="#">
							транспорт, авиаперевозки и логистика, Россия, Египет...
						</a>
					</div>
				</div>
				<div class="cards-companies-preview"></div>
				<div class="cards-ads-preview"></div>
			</div>
		</div>

		<div class="cards-ads"></div>
	</div>
</section>
